@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    background-color: slategray;
    font-family: "Roboto Mono";
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Space Mono"; 
}

#nav {
    background-color: slategray;
    position: fixed;
    top: 0;
    left:0; 
    right:0;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    column-gap: 1%;
    padding: 1%;
    z-index: 1;
}

a{
    color: white;
    font-size: 150%;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
}

a:hover {
    background-color: lightskyblue;
    border-radius: 10px;
}

#intro{
    display: flex; 
    flex-direction: column; 
    justify-items: center; 
    align-items: center;
    color:white;
    padding-top: 10%;
    padding-bottom: 25%;
}

#intro-text {
    text-align: justify;
    width: 55vw;
    animation: fadeIn 1s;
}

#roles {
    font-size: 50%;
    padding-top: 3%;
}

#role {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#role.fade {
    opacity: 1;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    row-gap: 1vh;
    color:white;
    width: 75vw;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0 auto;
}

.project {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-radius: 20px;
    height: 6em;
    font-size: 120%;
    padding-left: 3%;
    padding-right: 1%;
    transition: 0.25s ease;
}

.project:hover {
    background-color: lightskyblue;
    transform: scale(1.10);
}

.project-link{
    padding: 0;
    font-size: 1em;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: none;
}

.icon {
    padding: 3%;
    width: 2vw;
}

.icon-link {
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 1vw;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.project:hover .icon-link{
    opacity: 1;
}

#contact {
    color:white;
    width: 75vw;
    padding-bottom: 5%;
    margin: 0 auto;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateX(2rem);}
    100% { opacity: 1; transform: translateX(0);}
}

@media (max-width: 768px) {
    #nav {
        font-size: 60%;
        padding : 3%;
    }

    #intro{
        padding-top: 50%;
        padding-bottom: 100%;
    }

    #color-wheel {
        display: none;
        transition: none;
    }

    #name {
        font-size: 10vw;
    }

    #roles {
        font-size: 100%;
    }

    #introduction {
        width: 75vw;
        font-size: 75%;
    }

    #projects {
        font-size: 50%;
        width: 85vw;
        row-gap: 50%;
        padding-top: 10%;
    } 

    .project{
        font-size: 140%;
        height: 7em;
    }

    .icon {
        padding: 5%;
        width: 4vw;
    }

    .icon-link {
        display: none;
    }

    #contact {
        font-size: 50%;
        width: 85vw;
        padding-bottom: 85vh;
    }
}